:root
{
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
    font-size: 13px;
}

body, .article__footer, .article__link, .tooltip, .tooltip__list
{
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

body
{
    background-color: var(--Light-Grayish-Blue);
    font-family: 'Manrope', sans-serif;
    min-height: 100vh;
}

.article
{
    background-color: white;
    border-radius: 10px;
    color: var(--Very-Dark-Grayish-Blue);
    display: grid;
    margin: 75px auto;
    max-width: 335px;
    overflow: hidden;
    width: 88%;
}

@media screen and (min-width: 900px)
{
    .article
    {
        grid-template-columns: 280px 1fr;
        grid-template-rows: 280px;
        max-width: 730px;
        overflow: visible;
    }
}

.article__image-container
{
    height: 200px;
    overflow: hidden;
}

@media screen and (min-width: 900px)
{
    .article__image-container
    {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        height: auto;
        width: 100%;
    }
}

.article__image
{
    max-width: 100%;
    object-position: 0 -15px;
}

@media screen and (min-width: 900px)
{
    .article__image
    {
        max-width: 125%;
        object-position: 0;
    }
}

.article__text-container
{
    padding-bottom: 20px;
    position: relative;
}

@media screen and (min-width: 900px)
{
    .article__text-container
    {
        padding-bottom: 10px;
    }
}

.article__body
{
    margin-top: 35px;
    margin-bottom: 25px;
}

.article__title
{
    font-size: 1.3rem;
    line-height: 1.9rem;
}

@media screen and (min-width: 900px)
{
    .article__title
    {
        font-size: 1.55rem;
        line-height: 2.1rem;
        margin-bottom: 13px;
    }
}

.article__text
{
    font-size: 1.05rem;
    line-height: 1.65rem;
}

@media screen and (min-width: 900px)
{
    .article__text
    {
        line-height: 1.55rem;
    }
}

.article__text, .article__createtime, .tooltip__text
{
    color: var(--Desaturated-Dark-Blue);
}

.article__body, .article__footer
{
    padding-left: 30px;
    padding-right: 30px;
}

@media screen and (min-width: 900px)
{
    .article__body, .article__footer
    {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.article__footer
{
    justify-content: flex-start;
}

.article__authoravatar
{
    border-radius: 50%;
    margin-right: 20px;
    max-width: 42px;
}

.article__authorname
{
    font-weight: 700;
    margin: 0 0 8px;
}

.article__link
{
    border-radius: 50%;
    background-color: var(--Light-Grayish-Blue);
    height: 36px;
    margin-left: auto;
    width: 36px;
    z-index: 10;
}

.article__link--active
{
    background-color: var(--Desaturated-Dark-Blue);
}

.article__link, .tooltip__link
{
    text-decoration: none;
}

.share__icon--active
{
    filter: brightness(100);
}

.tooltip
{
    background-color: var(--Very-Dark-Grayish-Blue);
    bottom: 0;
    height: 82px;
    justify-content: flex-start;
    opacity: 0;
    padding-left: 30px;
    position: absolute;
    width: 100%;
}

@media screen and (min-width: 900px)
{
    .tooltip
    {
        border-radius: 10px;
        height: 58px;
        left: 250px;
        padding-left: 40px;
        top: 130px;
        width: 230px
    }

    .tooltip::after
    {
        content: '';
        border-top: 12px solid var(--Very-Dark-Grayish-Blue);
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        bottom: -10px;
        left: 130px;
        position: absolute;
    }
}

.tooltip__list
{
    padding-left: 0;
}

.tooltip__text
{
    font-size: 1.1rem;
    letter-spacing: .5rem;
}

.tooltip__text, .tooltip__icon
{
    margin-right: 15px;
}

.tooltip--show
{
    opacity: 1;
}